<div class="edit-background-container">
  <div class="edit-container">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), method: :patch, enctype: "multipart/form-data" ) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
    <div class="edit-form">
      <div class="edit-profile-title"><h2>Edit Profile</h2></div>
      <div class="profile-image-avatar">
        <%= render 'layouts/shared/profile_image' %>
      </div>        
      
      <div class="field avatar">
        <%= f.file_field :avatar %>
      </div>
      
      <div class="field">
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :last_name %><br />
        <%= f.text_field :last_name, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :country %><br />
        <%= f.text_field :country, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :city %><br />
        <%= f.text_field :city, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :fundraiser, "Account" %><br />
        <%= f.select :fundraiser, [['Standard User', false], ['Fundraiser', true]] %>
      </div>
    
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :password, "Password Update" %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> Characters Minimum</em>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, "Password Confirmation" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="field confirm">
        <%= f.label :current_password, "Current Password" %> <i>(Confirm Password Changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password" %>
      </div>

      <div class="actions update">
        <%= f.submit "Update" %>
      </div>
      <% end %>
      

      <h3 class="delete-button">Delete account</h3>

      <p>Unhappy? <%= button_to "Delete account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

      <%= link_to "Back", :back %>
    </div>
  </div>
</div>


