<h1>Edit perk <%= @perk.name %></h1>

<%= form_for(:perk, url: project_perk_path(project_id: @perk.project_id, id: @perk.id), method: :patch) do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :amount_left, 'Amount of enablrs that can enable this perk (Set to -1 for unlimited)' %><br>
    <%= f.number_field :amount_left, min: -1, step: 1 %>
  </div>
  <div class="field">
    <%= f.label :rewards %><br>
    <%= f.text_area :rewards %>
  </div>

  <div class="actions">
    <%= f.submit 'Update' %>
  </div>
<% end %>
