<div class="edit-profile-container">
  <h1>Create New Perk for <%= @project.name %></h1>

  <%= form_for(:perk, url: project_perks_path) do |f| %>
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :rewards %><br>
      <%= f.text_area :rewards %>
    </div>
    <div class="field target-amount">
      <%= f.label :minimum_amount %>
      <%= f.number_field :minimum_amount, min: 1, step: 1 %>
    </div>
    <div class="field">
      <%= f.label :amount_left, "Amount of enablrs that can enable this perk (Set to -1 for unlimited)" %><br>
      <%= f.number_field :amount_left, min: -1, step: 1 %>
    </div>
    <div class="field">
      <%= f.label :estimated_delivery, 'Estimated delivery date' %><br>
      <%= f.date_field :estimated_delivery, min: Date.today %><br>
      <%= f.label :not_deliverable, 'Check box if perk does NOT have a delivery date', class: 'font-weight-bold' %><br>
      <%= f.check_box :not_deliverable %>
    </div>

    <div class="actions">
      <%= f.submit 'Create' %>
    </div>
  <% end %>    
  <%= link_to(:back) do %>
    <i class="fas fa-arrow-left"></i>
  <% end %>
</div>
