<div>
 <h3>Comments</h3>
</div>


  <% @comments.each do |comment| %>
    <% @user = User.find(ProjectEnablr.find(comment.project_enablr_id).user_id) %>
    <div class="user-comment-box">
      <div class="profile-image-avatar">
        <% if @user.avatar.attached? %>
        <%= image_tag @user.avatar %>
        <% else %>
        <%= image_tag 'default-profile.png' %>
        <% end %>
      </div>
      <div class="user-name">
        <%= "#{@user.first_name} #{@user.last_name}" %>
      </div>
      <div class="created-at"><%= comment.created_at.strftime("%-d %b, %Y @ %l:%M%p") %></div>
      <div class="user-comment"><%= comment.content %></div>
      <div class="user-comment-buttons">
        <% if can? :destroy, comment %>
          <%= link_to edit_project_comment_path(project_id: @project.id, id: comment.id), class: "btn" do %>
            <i class="fas fa-edit"></i>
          <% end %>
          <%= link_to project_comment_path(project_id: @project.id, id: comment.id), class: "btn btn-default", method: :delete do %>
            <i class="fas fa-trash"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>

<% if user_signed_in? %>
  <% unless ProjectEnablr.find_by(user_id: current_user.id, project_id: @project.id).nil? %>

    <%= form_for(:comment, url: project_comments_path(project_id: @project.id)) do |f| %>


      <div class="field">
        <%= f.text_area :content, placeholder: "Write your comment here..." %>
      </div>

      <div class="actions">
        <%= f.hidden_field :project_id, value: @project.id %>
        <%= f.submit "Comment" %>
      </div>

    <% end %>

  <% end %>
<% end %>
