<h4>Comments</h4>

<ul>
  <% @comments.each do |comment| %>
    <% user = User.find(
      ProjectEnablr.find(comment.project_enablr_id).user_id
    ) %>
    <div class="user-comment-box">
      <%= "#{user.first_name} #{user.last_name} (#{comment.created_at.strftime("%-d %B %Y at %l:%M%p")})" %>
      <br>
      <%= comment.content %><br>
      <% if can? :destroy, comment %>
        <%= link_to "Edit", edit_project_comment_path(project_id: @project.id, id: comment.id) %>
        <%= link_to "Delete", project_comment_path(project_id: @project.id, id: comment.id), method: :delete %>
      <% end %>
    </div>
  <% end %>
</ul>

<% if user_signed_in? %>
  <% unless ProjectEnablr.find_by(user_id: current_user.id, project_id: @project.id).nil? %>

    <%= form_for(:comment, url: project_comments_path(project_id: @project.id)) do |f| %>


      <div class="field">
        <%= f.text_area :content, placeholder: "Write your comment here..." %>
      </div>

      <div class="actions">
        <%= f.hidden_field :project_id, value: @project.id %>
        <%= f.submit "Comment" %>
      </div>

    <% end %>

  <% end %>
<% end %>
