<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
  <%= link_to root_path do %>
    <div class="navbar-brand mb-0 h1">     
      <i class="fas fa-microchip fa-lg hover"></i>
    </div> 
  <% end %>
  <div class="navbar-nav ml-auto">
  <%= link_to "Explore", projects_path, :class => "nav-item nav-link" %>
    <% if user_signed_in? %>
      <% if can? :create, Project %>
        <%= link_to "Create Project", new_project_path, :class => "nav-item nav-link" %>
      <% end %>
      <div>
        <%= link_to 'Log Out', destroy_user_session_path, :class => "nav-item nav-link", method: :delete %>
      </div>      
      <div class="nav-item active nav-link"> 
        Hello, <%= current_user.first_name %> 
      </div> 
      <%= link_to user_profile_path(current_user) do %>
        <div class="navbar-image-avatar">
          <% @user = current_user %>
          <%= render 'layouts/shared/profile_image' %>
        </div>
      <% end %>
    <% else %>
      <%= link_to 'Sign Up', new_user_registration_path, :class => "nav-item nav-link" %>
      <%= link_to 'Log In', new_user_session_path, :class => "nav-item nav-link" %>
    <% end %>
  </div>
</nav>
