<% if flash[:success] %>
  <div class="alert alert-primary" role="alert">
    <%= flash[:success] %>
  </div>
<% end %>

<div class="user-profile-container">
  <div class="profile-image">
    <div class="profile-image-avatar">
      <% if current_user.avatar.attached? %>
        <%= image_tag current_user.avatar %>
      <% end %>
    </div>
  </div>
  <div class="user-profile">
    <h3><%= "#{@user.first_name} #{@user.last_name}" %></h3>
    <p>Joined <%= @user.created_at.strftime("%-d %B %Y") %></p>
    <p><%= @user.fundraiser ? 'Fundraiser' : 'Standard' %></p>
    <p><%= "#{@user.city}, #{@user.country}" %></p>
    <p><%= @user.email %></p>
    <%= link_to edit_user_registration_path(@user.id), class: "btn btn-default" do %>
      <i class="fas fa-edit"></i>
    <% end %>
  </div>
  <div class="user-projects-container">
    <div class="user-projects">
      <h1>My Projects</h1>
      <% @projects.each do |project| %>
        <p><%= project.name %></p>
        <p><%= project.hardware ? 'Hardware' : 'Software' %></p>
        <p>Current: $<%= project.current_amount %></p>
        <p>Target: $<%= project.target_amount %></p>
        <%= link_to project_path(project.id), class: "btn btn-default" do %>
          <i class="fas fa-eye"></i> 
        <% end %>
        <%= link_to edit_project_path(project.id), class: "btn btn-default" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="user-projects-enabled-container">
    <div class="user-projects-enabled">
      <h1>Enabled Projects</h1>
      <% @user.project_enablrs.each do |enabled| %>
        <% @enabled_project = Project.find(enabled.project_id) %>
        <% @project_owner = User.find(@enabled_project.user_id) %>
        <p><%= @enabled_project.name %></p>
        <p><%= @enabled_project.hardware ? 'Hardware' : 'Software' %></p>
        <p>Enabled: $<%= enabled.pledged_amount %></p>
        <p>Current: $<%= @enabled_project.current_amount %></p>
        <p>Target: $<%= @enabled_project.target_amount %></p>
        <%= link_to project_path(@enabled_project.id), class: "btn btn-default" do %>
          <i class="fas fa-eye"></i> 
        <% end %>
        <% if can? :destroy, enabled %>
          <%= link_to project_enablr_refund_path(@enabled_project.id, @user.id) , class: 'btn btn-default' do %>
            <i class="fas fa-ban"></i>
          <% end %>
        <% end %>

      <% end %>
    </div>
  </div>
</div>
