<div class="projects-index-container">
  <div class="projects-title">
    <h1>Projects</h1>
  </div>
</div>
<div class="project-list">
  <% @projects.each do |project| %>
    <div class="project-card">
      <%= link_to project_path(project.id) do %>
        <div class="project-image">
          <%= carousel_for(project, false) %>
        </div>
      <% end %>
      <div class="project-index-description">
        <% @user = User.find(project.user_id) %>
        <div class="project-name">
          <div><%= project.name %></div>
        </div>
        <div class="project-category">
          <div><%= project.category %></div>
          <div><%= project.country %></div>
        </div>
        <div class="project-amount">
          <div>Current: $<%= project.current_amount %></div>
          <div>Target: $<%= project.target_amount %></div>
        </div>
        <div class="progress-bar-container">
          <%= progress_bar_for(project) %>
        </div>
        <div class="project-date">Due: <%= project.target_date.strftime("%d/%m/%Y") %></div>
        <div class="project-owner">By: <%= "#{@user.first_name} #{@user.last_name}" %></div>
      </div>
    </div>
  <% end %>
</div>
