<div class="projects-title">
  <h1>Projects</h1>
</div>
<div class="project-list">
  <% @projects.each do |project| %>
    <div class="project-card">
      <%= link_to project_path(project.id) do %>
        <div class="project-image"></div>
      <% end %>
      <% @user = User.find(project.user_id) %>
      <p><%= project.name %></p>
      <p><%= project.hardware ? 'Hardware' : 'Software' %></p>
      <p>Current Amount: $<%= project.current_amount %></p>
      <p>Target Amount: $<%= project.target_amount %></p>
      <p>Category: <%= project.category %></p>
      <p>Target Date: <%= project.target_date.strftime("%-d %B %Y") %></p>
      <p>By: <%= "#{@user.first_name} #{@user.last_name}" %></p>
    </div>
  <% end %>
</div>
