<% if flash[:error] %>
  <div class="alert alert-danger" role="alert">
    <%= flash[:error] %>
  </div>
<% end %>

<div class="edit-profile-container">
  <h1>Create New Project</h1>

<%= form_for(:project, url: projects_path, enctype: 'multipart/form-data') do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :picture, for: 'picture' %>
    <%= f.file_field :picture, multiple: true %>
  </div>
  <div class="field">
    <%= f.label :target_amount %><br>
    <%= f.number_field :target_amount, min: 1, step: 1 %>
  </div>
  <div class="field">
    <%= f.label :target_date %><br>
    <%= f.date_field :target_date, min: Date.today %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.select :category, Categories.categories,
     disabled: ['-- Software --', '-- Hardware --'] %>
  </div>
  <div class="field">
    <%= f.label :country %><br>
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>

    <div class="actions">
      <%= f.submit 'Create' %>
    </div>
    
  <% end %>
</div>
