<% if flash[:alert] %>
  <div class="alert alert-warning" role="alert">
    <%= flash[:alert] %>
  </div>
<% end %>

<% if flash[:error] %>
  <div class="alert alert-warning" role="alert">
    <%= flash[:error] %>
  </div>
<% end %>

<% if flash[:success] %>
  <div class="alert alert-success" role="alert">
    <%= flash[:success] %>
  </div>
<% end %>


<div class="projects-show-container">
  <div class="project-show-description-container">
    <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4"><%= @project.name %></h1>
      <p class="lead"><%= @project.description %></p>
    </div>
    </div>
  </div>

  <div class="project-show-image-container">
    <%= carousel_for(@project) %>
  </div>

  <div class="project-show-information-container">
      <div class="project-show-information">
      <div class="project-name"><%= @project.name %></div>
      <div class="project-group">
        <div><%= @project.hardware ? 'Hardware' : 'Software' %></div>
        <div>Category: <%= @project.category %></div>
        <div>Location: <%= "#{@project.city}, #{@project.country}" %></div>
        <div>Current Amount: $<%= @project.current_amount %></div>
        <div>Target Amount: $<%= @project.target_amount %></div>
        <%= progress_bar_for(@project) %>
      </div>
      <div class="project-date">Due: <%= @project.target_date.strftime("%d/%m/%Y") %></div>
      <div class="enablers">Enablers <%= @project.backer_amount %></div>
      <div class="project-buttons">          
        <%= link_to edit_project_path, class: "btn btn-default" do %>
            <i class="fas fa-edit"></i>
        <% end %>
        <% if can? :destroy, @project %>
          <%= link_to project_path, class: "btn btn-default", method: :delete do %>
            <i class="fas fa-trash"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="projects-show-extended">    
  <div class="comments-container"> 
    <div class="comments-content">
      <%= render 'layouts/shared/comments' %>
    </div>
  </div> 
  <div class="perks-show-container">
    <div class="perks-content">
      <div><h3>Perks</h3></div>
        <% @perks.each do |perk| %>
        <div class="perks-box">
          <div class="name-box">
            <div><%= perk.name %></div>
            <div>Pledge $<%= perk.minimum_amount %> or More</div>
          </div>
          <div class="perks-enablers"><%= perk.enablr_amount %> Enablers</div>
          <div class="perks-left"><%= perk.amount_left.negative? ? 'Unlimited' : "#{perk.amount_left} left" %></div>
          <div class="perk-rewards">
            <div><p>Rewards:</p></div>            
            <%= perk.rewards %>
          </div>
          <div class="user-comment-buttons">
            <%= link_to project_perk_path(project_id: @project.id, id: perk.id), class: "btn" do %>
              <i class="fas fa-eye"></i> 
            <% end %>
            <% if can? :edit, perk %>
              <%= link_to edit_project_perk_path(project_id: @project.id, id: perk.id), class: "btn btn-default" do %>
                <i class="fas fa-edit"></i>
              <% end %>
            <% end %>
            <% if can? :destroy, perk %>
              <%= link_to project_perk_path(project_id: @project.id, id: perk.id), class: "btn btn-default", method: :delete do %>
                <i class="fas fa-trash"></i>
              <% end %> 
            <% end %>
          </div>
        </div>
        <% end %>

      <% if can? :create, Perk.new(project_id: @project.id) %>
        <%= link_to new_project_perk_path(project_id: @project.id), class: "btn btn-default" do %>
          <i class="fas fa-plus"></i>
        <% end %> 
      <% end %>

      <% if user_signed_in? %>
        <% if can? :create, ProjectEnablr.new(project_id: @project, user_id: current_user.id) %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
