<h1><%= @project.name %></h1>
<p><%= @project.description %></p>
<p><%= @project.hardware ? 'Hardware' : 'Software' %></p>
<p>Current Amount: <%= @project.current_amount %></p>
<p>Target Amount: <%= @project.target_amount %></p>
<p>Target Date: <%= @project.target_date %></p>
<p>Category: <%= @project.category %></p>
<p>Location: <%= "#{@project.city}, #{@project.country}" %></p>
<p>Enablers: <%= @project.backer_amount %></p>
<% if can? :destroy, @project %>
  <%= link_to 'Delete', project_path, method: :delete %>
  <%= link_to 'Edit', edit_project_path, method: :get %>
<% end %>

