<!DOCTYPE html>
<html>
  <head>
    <title>Enablr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
  </head>
  <body>
    <%= render 'layouts/shared/navbar' %>
    <%= render 'layouts/shared/flash_messages' %>
    <%= yield %>
  </body>
</html>
